################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/zoohandlung/zoohandlung/bin/Debug/net5.0-windows
/zoohandlung/zoohandlung/obj/Debug/net5.0-windows/ref
/zoohandlung/zoohandlung/obj/Debug/net5.0-windows
